@charset "utf-8";
/*======================　媒体　======================*/
.baitai_wrap {
}
.baitai_wrap h3 {
	font-size: 15px;
	line-height: 25px;
	background: #F07170 url(../img/icon_i.gif) no-repeat 5px center;
	padding-left: 25px;
	border-bottom: 1px solid #D53A3D;
}
.baitai_wrap table {
	width: 98%;
	margin: 5px auto 10px;
	clear: both;
}
.baitai_wrap table tr{
}
.baitai_wrap table thead{
}
.baitai_wrap table tr td {
	border: 1px solid #CCCCCC;
}
.baitai_wrap table tr th {
	border: 1px solid #888888;
	background: #EEEEEE;
        text-align: center;
}
.baitai_wrap table tr td,
.baitai_wrap table tr th{
	vertical-align: middle;
	padding: 1px 5px;
}
.baitai_wrap .btn_plus.next {
	width: 30%;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.baitai_wrap tr td button {
	width: 90px;
	height: 20px;
	line-height: 1%;
	font-size: 12px;
}
.baitai_wrap table tr td a {
	text-decoration: underline;
}
.baitai_wrap .btn {
	font-size: 13px;
	line-height: 40px;
	color: #333;
	text-decoration: none;
	background: url(../img/btn_bg2.jpg) repeat-x 0px center;
	height: 40px;
	width: 150px;
	border: 1px solid #CCC;
	display: block;
	text-align: center;
	float: right;
}
.baitai_wrap p {
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4px;
}
/*===　媒体登録　===*/
.detail_wrap {
	border: 1px solid #CCC;
	padding-bottom: 5px;
}
.detail_wrap h2 {
	background: #EEE;
	padding-left: 20px;
	border-bottom: 1px solid #CCC;
	font-size: 13px;
	line-height: 25px;
	font-weight: bold;
}
.detail_wrap table {
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}
.detail_wrap table tr th,
.detail_wrap table tr td{
	padding: 3px;
}
.detail_wrap table tr th{
	text-align: right;
}
.detail_wrap table tr td a {
	height: 25px;
	width: 90px;
}
.entry .detail_wrap,
.entry .main_innner{
	width: 1090px;
        height: auto;
}
.entry .main_innner{
	margin-top: 10px;
}
.info_wrap{
	padding-bottom: 10px;
	border: 1px solid #888888;
	position: relative;
	background: #FFF;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.info_wrap .hl_wrap{
	background: #EEEEEE;
	position: relative;
	border-bottom: 1px solid #888888;
}
.info_wrap .hl_wrap h3{
	font-size: 15px;
	padding-left: 10px;
	color: #333;
	line-height: 22px;
}
.edit_wrap {
	width: 450px;
	clear: none;
	height: 100%;
	z-index: 2;
	position: relative;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}
.move_wrap{
	width: 100px;
	height: 100%;
	position: relative;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	min-height:200px;
}
.edit_wrap h3.hl{
	line-height: 25px;
	width: auto;
	font-size: 16px;
	background: #EEEEEE;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 0px;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #CCC;
}
.main_innner {
	margin-left: 352px;
	margin-right: 10px;
	overflow: hidden;
}
.related .tree_wrap ul li {
	font-size: 13px;
	line-height: 1.5;
	font-weight: bold;
	margin-left: 10px;
}
.move_wrap ul {
	margin-top: 25px;
	margin-left: -30px;
	position: absolute;
	left: 50%;
	top: 50%;
}
.move_wrap ul li a {
	height: 60px;
	width: 60px;
}
.info_wrap {
	overflow: hidden;
}
.edit_wrap li.selected a{
	background: #FFDEDD;
	border: 1px solid #888888;
	padding: 2px;
	margin-left: -2px;
}
.entry .tree_wrap {
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.entry .function {
	width: 450px;
	height: 50px;
	margin-bottom: 5px;
}
.entry .function th,
.entry .function td{
	vertical-align: middle;
}
.entry .function td a{
	float: left;
	height: 25px;
	width: 90px;
	margin-right: 5px;
}
.entry .function.right td a{margin-right: -1px;}
.entry .function.right th,
.entry .function.right td{vertical-align: bottom;}
.entry .main_innner,
.entry .info_wrap{overflow-y: hidden}
.right_btn {
    display: block;
    float: right;
    height: 28px;
}

table tr:nth-child(even) {
    background-color: #ecf8eb;
}

#media_head_form table tr:nth-child(even) {
    background-color: #fff;
}
.baitai_main_innner .history tr th {
	text-align: center;
	border-right: 1px solid #999;
	padding: 4px;
}
.baitai_main_innner .history tr {
	border: 1px solid #999;
}
.baitai_main_innner .history tr td{
	text-align: left;
	border-right: 1px solid #999;
	padding: 4px;
}
.btn_history input[type="button"] {
	padding: 5px;
}

.history_div {
	max-height: 400px;
	overflow-y: scroll;
}
.baitai_main_contents .baitai_info_wrap .history_div {
	width: auto;
}
.history_popup {
	width: auto;
}
#batch_dialog .history_popup .baitai_main_contents {
	width: auto;
}
.history_popup .baitai_main_contents .baitai_info_wrap{
	width: auto;
}
.history_popup .baitai_main_contents .baitai_info_wrap .baitai_main_innner{
	width: auto;
	height: 450px;
}
.edit_wrap  #search_form table tr:nth-child(even) {
	background-color: #fff;
}
.info_wrap .edit_wrap  table.function tr:nth-child(even) {
	background-color: #fff;
}

.process_order{width: 40px !important; text-align: center !important}

table.bg_yoyaku_indd tr:nth-child(even) {
	background-color: #ffffff !important;
}
table.bg_yoyaku_indd tr:nth-child(odd) {
	background-color: #ffecf2 !important;
}
.ms_batch
{
	font-weight: bold;
	color: red;
	padding-left: 15px;	
}
#selectedFiles span{
    /*border-bottom: 1px dotted #271212;*/
    margin-top: 5px;
    display: block;
    border-bottom: 1px solid #CCCCCC !important;
}
#title_success{
    color: green;
    font-size: 16px;
    font-weight: 600;
    background-color: linen;
    width: 200px;
    height: 25px;
}
.datetimepicker{
    width:120px;
}
table.table_don tr td{
    background-color: #fff;
    border: 1px solid #CCCCCC !important;
}
table.table_kiemtra tr td{
   border: 0px;
   background-color: #fff;
}
.remove_item, .download_file{	
	height: 25px;
	/*width: 25px;*/
	opacity: 1;
	float: right;
}
.remove_item:hover, .download_file:hover{
	opacity: 0.7;
}
.width2{
	width: 150px;
}
table.table_search tr td{
    background-color: #eeeeee;
    border: 1px solid #eeeeee !important;
}
.header_table{
   /* height: 25px;*/
    text-align: center;
    vertical-align: middle;
    background-color:#eeeeee !important;;/* #1D5DA8 */
    /*color: white;*/
}
.img_new{
    height: 25px;
}
#data_list tr:hover{
    background-color:#FFD4FF !important;
}