<!--<div id="likebox_1" style="right:-410px;top: 150px;"/>
   <div id="likebox_1_1" style="width:400px;height:250px;"/><a class="open" id="fblink" href="#"></a><img style="left:-35px;" src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/bt-qc.png" alt="" /><a href="http://chothuexecaocap.net/" target="_blank" ><img src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/qc-tx.jpg" width="400" height="250" /></a></div>
</div>-->
<div id="likebox_2" style="right:-310px;top: 260px;"/>
   <div id="likebox_1_1" style="width:300px;height:233px;"/><a class="open" id="fblink" href="#"></a><img style="left:-35px;" src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/bt-dx.png" alt="" /><a href="<%$smarty.const.ACW_BASE_URL%>datxe" target="_parent" ><img src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/tx.jpg" width="300" height="233" /></a></div>
</div>