<div class="cleared"></div>
<div class="menu-cs">
   <div class="art-nostyle">
      <table width="100%" border="0" cellpadding="0" cellspacing="1">
         <tbody>
            <tr>
               <td nowrap="nowrap">
               		<a href="<%$smarty.const.ACW_BASE_URL%>page/v/ly-do-ban-chon-chung-toi" class="mainlevel menu_footer">LÝ DO BẠN CHỌN CHÚNG TÔI</a>
               		<a href="<%$smarty.const.ACW_BASE_URL%>page/v/chinh-sach-bao-mat" class="mainlevel menu_footer">CHÍNH SÁCH BẢO MẬT</a>
               		<a href="<%$smarty.const.ACW_BASE_URL%>page/v/hinh-thuc-thanh-toan" class="mainlevel menu_footer">HÌNH THỨC THANH TOÁN</a>
               		<a href="<%$smarty.const.ACW_BASE_URL%>page/v/cham-soc-khach-hang" class="mainlevel menu_footer">CHĂM SÓC KHÁCH HÀNG</a>
               		<a href="<%$smarty.const.ACW_BASE_URL%>page/v/thong-tin-tuyen-dung" class="mainlevel menu_footer">THÔNG TIN TUYỂN DỤNG</a></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div class="art-Footer">
   <div class="art-Footer-inner">
      <div class="art-Footer-background"></div>
      <div class="art-Footer-text">
         <div class="art-nostyle">
            <table class="mceItemTable" style="background-image: url(<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/Footer4.png);background-repeat: repeat;" mce_style="background-image: url(/images/Footer3.png);background-repeat: repeat;" border="0" height="72" width="1020">
               <tbody>
                  <tr>
                     <td style="width:22px;">
                        <img src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/footer_ao.png" mce_src="/images/footer_ao.png" height="46" width="14">
                        <br mce_bogus="1">
                     </td>
                     <td style="text-align: left;" mce_style="text-align: left; color: #333;">
                        <table style="width: 940px" class="mceItemTable">
                           <tbody>
                              <tr>
                                 <td style="text-align: center;" mce_style="text-align: center;"> 
                                 <p><strong>CÔNG TY TNHH SƠN TRÂN</strong></p>
                                 <p>Địa chỉ: 287 Trần Phú, Phường Vĩnh Thanh Vân, Huyện Rạch Giá, Tỉnh Kiên Giang</p>
                                 <p>Điện thoại: 0946.886.881</p>
                                 <p>Email: levansonsg@yahoo.com</p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <a href="https://plus.google.com/113620596248927964054?rel=author" mce_href="https://plus.google.com/113620596248927964054?rel=author" target="_blank">
                        <span mce_style="color: #ff8104;" style="color: rgb(255, 129, 4); display: none;">seo</span>
                        </a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>