<div class="cleared"></div>

<div class="menu-cs">
	<div class="art-nostyle">
<table width="100%" border="0" cellpadding="0" cellspacing="1"><tbody><tr><td nowrap="nowrap"><a href="http://thuexegiare.net/ly-do-ban-chon-chung-tpoi.html" class="mainlevel menu_footer">LÝ DO BẠN CHỌN CHÚNG TÔI</a><a href="http://thuexegiare.net/chinh-sach-bo-mt.html" class="mainlevel menu_footer">CHÍNH SÁCH BẢO MẬT</a><a href="http://thuexegiare.net/hinh-thc-thanh-toan.html" class="mainlevel menu_footer">HÌNH THỨC THANH TOÁN</a><a href="http://thuexegiare.net/chm-soc-khach-hang.html" class="mainlevel menu_footer">CHĂM SÓC KHÁCH HÀNG</a><a href="http://thuexegiare.net/thong-tin-tuyen-dung.html" class="mainlevel menu_footer">THÔNG TIN TUYỂN DỤNG</a></td></tr></tbody></table></div>

</div>
<div class="art-Footer">
 <div class="art-Footer-inner">
   <div class="art-Footer-background"></div>
  <div class="art-Footer-text">
  
    <div class="art-nostyle">
<table class="mceItemTable" style="background-image: url(<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/Footer4.png);background-repeat: repeat;" mce_style="background-image: url(/images/Footer3.png);background-repeat: repeat;" border="0" height="72" width="1020">
	<tbody>
		<tr>
			<td style="width:22px;">
				<img src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/footer_ao.png" mce_src="/images/footer_ao.png" height="46" width="14">
				<br mce_bogus="1">
			</td>
			<td style="text-align: left;" mce_style="text-align: left; color: #333;">
				<table style="width: 940px" class="mceItemTable">
					
					<tbody><tr>
						<td style="text-align: left;" mce_style="text-align: left;">
							<b>Công Ty Cổ Phần Thương Mại Long Thành</b><br>Địa chỉ trụ sở : Lầu 12, Khu B, IndoChina Park Tower, 04 Nguyễn Đình Chiểu, P.Đa Kao, Q.1, TP.HCM <br>ĐT: (08) 2202.2202 - 0902.202.202 <br>Giấy CNĐKKD số :0304884960 - cấp ngày 5/11/2013<br>Đại diện theo pháp luật Cty: (Ông) Dương Bình Thuận<br></td>
					
						<td rowspan="1"><img src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/footer_ao.png" mce_src="/images/footer_ao.png" border="0" height="46" width="14"></td><td scope="" dir="" id="" rowspan="1" align="" lang="" valign="top"><b>Văn phòng tại Thành phố Cần Thơ</b><br> <span id="docs-internal-guid-8e8b8c91-5f65-8da1-6644-94ab0ede4e6f">Tòa nhà Bitis tại 86 Nguyễn Trãi, Cái Khế, Ninh Kiều, Cần Thơ.</span><br> Điện thoại : <span id="docs-internal-guid-8e8b8c91-5f65-8da1-6644-94ab0ede4e6f">0913 734 834</span><br> Email : cantho@thuexegiare.net<b><br></b></td><td rowspan="1"><img src="<%$smarty.const.ACW_BASE_URL_TEMPLATE%>/images/footer_ao.png" mce_src="/images/footer_ao.png" border="0" height="46" width="14"></td>
					<td scope="" dir="" id="" rowspan="1" align="" lang="" valign="top"><b>Văn phòng tại Hà Nội</b><br> Tầng 3, 134 Mai Anh Tuấn, Ô Chợ Dừa, Đống Đa, Hà Nội 							<br> Điện thoại: (04) 3519.0199 <br>DD: 0902 37 66 88							<br> Email : hainam@thuexegiare.net</td></tr>
				</tbody></table>
			
			
			
					<a href="https://plus.google.com/113620596248927964054?rel=author" mce_href="https://plus.google.com/113620596248927964054?rel=author" target="_blank">
						<span mce_style="color: #ff8104;" style="color: rgb(255, 129, 4); display: none;">seo</span>
					</a>
					
				
			</td>
		</tr>
	</tbody>
</table></div>
    </div>
 </div>
</div>