<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" --><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%assign var='lang' value=Message_model::get_message('USER')%>
<title><%$lang['USER001']%></title>
		<%include 'include/head.html'%>
		<link href="<%$smarty.const.ACW_BASE_URL%>shared/css/baitai.css" rel="stylesheet" type="text/css" />
        
</head>
<body class="column_1">
<div class="bg">
<div class="container">
		<%include 'include/menu.html'%>
<div class="contents_wrap"> 
<!-- InstanceBeginEditable name="top_contents" -->
	<div class="search_wrap">
		<form id="search_form" action="<%$smarty.const.ACW_BASE_URL%>user/" method="POST">
		<table class="kensaku">
			<colgroup>
				<col width="85px" /><!-- 条件検索 -->
				<col width="200px" /><!-- 媒体名 -->
				<col width="" /><!-- 条件検索 -->
			</colgroup>
			<tr>
				<th><%$lang['USER002']%><!--Điều kiện tìm--></th>
				<td class="first"><%$lang['USER003']%><!--Tên đăng nhập --> <input type="text" maxlength="50" size="20" name="search_user_name" id="search_user_name" value="<%$search_user_name%>" /></td>
                                <td class="al_l"><button type="button" id="btn_search"><%$lang['USER004']%><!--Tìm--></button> <button type="button" id="btn_clear"><%$lang['USER005']%><!--Xóa--></button></td></tr>
		</table>
		</form>
	</div>
	<ul class="topic_path">
		<li><h2><%$lang['USER013']%><!--Quản lý user--></h2></li>
	</ul>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="side_contents" -->
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="main_contents" -->
<div class="main_contents">
<div class="main_innner height2">
	<div class="baitai_wrap">
		<p class="clear_fix" style="text-align: right;"><input type="button" value="<%$lang['USER014']%>" id="btn_new" /></p><!--Thêm mới-->
		<table id="user_list">
			<thead>
			<tr>
				<th style="width: 100px;"><%$lang['USER003']%><!--Tên đăng nhập--></th>
                <th style="width: 100px;"><%$lang['USER006']%><!--Họ và tên--></th>
                <th style="width: 100px;"><%$lang['USER007']%><!--Email--></th>					
				<th style="width: 100px;"><%$lang['USER009']%><!--Đơn vị--></th>
				<th style="width: 100px; text-align: center;"><%$lang['USER008']%><!--Phòng ban--></th>
				<th style="width: 100px;text-align: center;"><%$lang['USER010']%><!--Tổ nhóm--></th>
				<!--<th style="width: 100px;text-align: center;">Loại user</th>-->
                <th style="width: 100px;text-align: center;"><%$lang['USER011']%><!--Ngưng sử dụng--></th>
			</tr>
			</thead>
			<tbody>
<%foreach $user_rows as $row%>
			<tr>				
				<td>
					<input type="hidden" class="m_user_id" value="<%$row.user_id%>" />
					<a href="javascript:void(0);" class="btn_edit"><%$row.user_name%></a>
				</td>
                <td>
					<%$row.user_name_disp%>
				</td>
                <td>
					<%$row.email%>
				</td>
				<td>
					<%$row.donvi%>
				</td>
				<td style="text-align: center;">
					<%$row.phong_ban%>
				</td>
				<td style="text-align: center;">
					<%$row.to_nhom%>
				</td>
				<!--<td style="text-align: center;">
					
				</td>-->
				<td style="text-align: center;">
					<%if $row.del_flg == 1%><input type="checkbox" checked="checked" disabled="disabled" /><%else%><input type="checkbox" disabled="disabled" /><%/if%>
				</td>
			</tr>
<%/foreach%>
			</tbody>
		</table>
	</div><!-- / .top_wrap -->
</div><!-- / .main_innner -->
</div><!-- / .main_contents -->
<!-- InstanceEndEditable -->
<%include 'include/footer.html'%>
</div><!-- / .contents_wrap -->
</div><!-- / .container -->
</div><!-- / .bg -->
<%include 'include/argo_ajax.html'%>
<%include 'include/table_shima.html'%>
<script type='text/javascript'>
$(function() {

	$('#menu_admin').addClass('selected');
	$("#user_dialog").dialog({
		autoOpen: false,
		width: 1000,
		/*height: $(window).height() - 100,*/
		modal: true,
		title: "<%$lang['USER025']%>"//'Thông tin user'
	});
	
        var search_user_ajax = new Argo_ajax('json');
        search_user_ajax.done_func = function(data) {
            if (data.error) {
                if (data.error.length > 0) {
                    $('#user_list tbody').empty();
                   Argo_ajax.message_box_error('', data.error[0]['info']);
                }else{
                    $('#search_form').submit();
                }
            }
        };

        
	// 検索ボタン
	$('#btn_search').click(function(){         
            $arr = $('#search_form').serializeArray();
            search_user_ajax.connect('POST', 'user/checkmaxlenght', $arr);
            //Add End - Trung VNIT - 2014/08/21
	});
        
        //Add Start - Trung VNIT - 2014/08/27
        $("#search_user_name").keydown(function (e) {
            if (e.keyCode == 13) {
                $('#btn_search').click();
            }
         });
        //Add End - Trung VNIT - 2014/08/27

	// クリアボタン
	$('#btn_clear').click(function(){
		// フォームリセット
		//$('#search_form').get(0).reset();
		$('#search_form').find("textarea, :text, select").val("");
		//$('#search_form').submit();Remove - Trung VNIT - 2014/08/29
	});

	// イベント
	$(document).on("click", "#btn_new", function () {
		open_user_edit(null);
	});

	$(document).on("click", ".btn_edit", function () {
		// ユーザ編集画面取得
		var m_user_id = $(this).prev().val();
		open_user_edit(m_user_id);
	});

	// テーブルに縞模様
	table_shimashima('#user_list');

	// サイズ変更スクリプト
	$(window).on("load resize", function(){
		var wh = $(window).height();
		$(".height2").height(wh - 206);	
	});
});

function open_user_edit(m_user_id)
{
	var html_ajax = new Argo_ajax("html");
	html_ajax.done_func = function(html) {
		// シリーズ編集画面表示
		$("#user_dialog").html(html);
		$("#user_dialog").dialog("open");
	};
	html_ajax.connect("POST", "User/edit", {
		"m_user_id": m_user_id
	});
}


</script>
<div id="user_dialog">
	<!-- ユーザ追加・編集 -->
</div>
</body>
<!-- InstanceEnd --></html>