<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/base.dwt" codeOutsideHTMLIsLocked="false" --><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%assign var='lang' value=Message_model::get_message('USER')%>
<title><%$lang['USER031']%></title>
		<%include 'include/head.html'%>
		<link href="<%$smarty.const.ACW_BASE_URL%>shared/css/baitai.css" rel="stylesheet" type="text/css" />
        
    <style>
    	table tr:nth-child(even) {
    		 background-color: #fff; 
		}
    </style>
</head>
<body class="column_1">
<div class="bg">
<div class="container">
		<%include 'include/menu.html'%>
<div class="contents_wrap"> 
<!-- InstanceBeginEditable name="top_contents" -->
	
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="side_contents" -->
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="main_contents" -->
<div class="main_contents">
<div class="main_innner height2">
	<div class="baitai_wrap">
		<form action="" name="login_form" method="POST" id="pass_form">
		<table style="width: 350px;margin-top: 150px">
			<tr><td colspan="3"><h1 style="font-size: 20px; text-align: center; color: blue;"><%$lang['USER031']%></h1></td>
			</tr>			
			<tr>
				<td><%$lang['USER033']%></td>
				<td><input type="password" maxlength="50" name="old_pass" id="old_pass"/></td>
			</tr>
			<tr>
				<td><%$lang['USER034']%></td>
				<td><input type="password" maxlength="50" name="new_pass" id="new_pass"/></td>
			</tr>
            <tr>
				<td><%$lang['USER035']%></td>
				<td><input type="password" maxlength="50" name="renew_pass" id="renew_pass"/></td>
			</tr>
			<tr><td colspan="2" style="text-align: center;"> 
				<input type="button" id="btn_change" value="<%$lang['USER027']%>">
			</td></tr>
		</table>
		
		</form>
		
	</div><!-- / .top_wrap -->
</div><!-- / .main_innner -->
</div><!-- / .main_contents -->
<!-- InstanceEndEditable -->
<%include 'include/footer.html'%>
</div><!-- / .contents_wrap -->
</div><!-- / .container -->
</div><!-- / .bg -->
<%include 'include/argo_ajax.html'%>
<%include 'include/table_shima.html'%>
<script type='text/javascript'>
$(function() {

	$('#menu_admin').addClass('selected');
	$("#user_dialog").dialog({
		autoOpen: false,
		width: 1000,
		/*height: $(window).height() - 100,*/
		modal: true,
		title: "<%$lang['USER025']%>"//'Thông tin user'
	});
	
        var search_user_ajax = new Argo_ajax('json');
        search_user_ajax.done_func = function(data) {
            if (data.error) {
                if (data.error.length > 0) {
                    $('#user_list tbody').empty();
                   Argo_ajax.message_box_error('', data.error[0]['info']);
                }else{
                    $('#search_form').submit();
                }
            }
        };

        
	// 検索ボタン
	$('#btn_change').click(function(){     
		if(check_before_change()==false){
			return ;
		}
        $arr = $('#pass_form').serializeArray();
        var upd_ajax = new Argo_ajax('json');
        upd_ajax.done_func = function(data) {
            if (data.status != 'OK') {
                //$('#user_list tbody').empty();
              	Argo_ajax.message_box_error('', data.error[0]['info']);
            }else{
                //$('#search_form').submit();
                Argo_ajax.message_box('', '<%$lang["USER036"]%>', function(){ //Thay đổi mật khẩu thành công !
                	location.href="<%$smarty.const.ACW_BASE_URL%>user/redirect" ;
                });
            }
            
        };
        upd_ajax.connect('POST', 'user/updatepass', $arr);
	});
        
    var check_before_change= function(){
    	if($('#old_pass').val() == ''){
    		Argo_ajax.message_box_error('', '<%$lang["USER037"]%>',function(){  //Bạn chưa nhập mật khẩu cũ !
    			$('#old_pass').focus();
    		});    		    		
    		return false;
    	}
    	if($('#new_pass').val() == ''){
    		Argo_ajax.message_box_error('', '<%$lang["USER038"]%>',function(){  //Bạn chưa nhập mật khẩu mới !
    			$('#new_pass').focus();
    		});
    		return false;
    	}
    	if($('#renew_pass').val() == ''){
    		Argo_ajax.message_box_error('', '<%$lang["USER039"]%>',function(){ //Bạn chưa nhập lại mật khẩu mới !
    			$('#renew_pass').focus();
    		});    	
    		
    		return false;
    	}
    	if($('#renew_pass').val() != $('#new_pass').val()){
    		Argo_ajax.message_box_error('', '<%$lang["USER040"]%>',function(){ //Mật khẩu mới không khớp, vui lòng nhập lại !
    			$('#renew_pass').focus();
    		});    		
    		return false;
    	}
    };

	// テーブルに縞模様
	table_shimashima('#user_list');

	// サイズ変更スクリプト
	$(window).on("load resize", function(){
		var wh = $(window).height();
		$(".height2").height(wh - 206);	
	});
});


</script>
<div id="user_dialog">
	<!-- ユーザ追加・編集 -->
</div>
</body>
<!-- InstanceEnd --></html>